

<br>
<br>
<div class="col-md-6">
    <h2 class="text-center">Update Services</h2>
</div>
<form>
    <div class="form-group">
        <label for="jobId">Service Id:</label>
        <input [(ngModel)]="jobId" placeholder="Service Id" name="jobId" class="form-control" id="jobId" readonly>
    </div>
    <div class="form-group">
        <label for="jobName">Service Name:</label>
        <input [(ngModel)]="jobName" placeholder="Service Name" name="jobName" class="form-control" id="jobName" required>
    </div>
    <div class="form-group">
        <label for="jobDescription">Service Description:</label>
        <input [(ngModel)]="jobDescription" placeholder="Service Description" name="jobDescription" class="form-control" id="jobDescription" required>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input [(ngModel)]="price" placeholder="Price" name="Price" class="form-control" id="price" required>
    </div>
    <div class="form-group">
        <label for="discount">Discount:</label>
        <input [(ngModel)]="discount" placeholder="Discount" name="discount" class="form-control" id="discount" required>
    </div>
    
    <button class="btn btn-success" (click)="updateJob()">Update Service Details</button>
</form>