<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>List of Customers</h2>
        </div>
    </div>
<div>
<table class="table table-bordered table-condensed table-striped">
    <tr>
        <th>Customer Id</th>
        <th>Customer FirstName</th>
        <th>Customer LastName</th>
        <th>Role</th>
    </tr>
    <tr *ngFor="let cust of custArr;">
        <td>{{cust.customerId}}</td>
        <td>{{cust.firstName}}</td>
        <td>{{cust.lastname}}</td>
        <td>{{cust.role}}</td>
    </tr>
</table>
</div>
