
<br>
<div class="align-right">
    <a class="btn btn-primary item-btn display-7" (click)="onLogout()">Logout </a>
</div>
<h2>Welcome {{FName}}-{{LName}}</h2>
<div><table>
    <tr>
    <td>
        <div class="mbr-section-btn item-footer mt-2">
            <a class="btn btn-primary item-btn display-7" (click)="showServices()">Show Services</a>
        </div>
    </td>
    <td>
        <div class="mbr-section-btn item-footer mt-2">
            <a class="btn btn-primary item-btn display-7" (click)="showCustomers()">Show Customers </a>
        </div>
    </td>
    <td>
        <div class="mbr-section-btn item-footer mt-2">
            <a class="btn btn-primary item-btn display-7" (click)="showBookings()">Show Booking </a>
        </div>
    </td>
</tr>
</table>
</div>
<br>
<br>
<br>