<!-- <section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>
  
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Home Services</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-5"><strong><em>Quality Home Services, On Demand.</em></strong><br><br>Experienced ,Hand Picked Professionals To Serve You At Your Doorstep.</p>
                
            </div>
        </div>
    </div>
  </section> -->
  <section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Home Services</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-5"><strong><em>Quality Home Services, On Demand.</em></strong><br><br>Experienced ,Hand Picked Professionals To Serve You At Your Doorstep.</p>
                
            </div>
        </div>
    </div>
</section>